body {
  margin: 0;
}

html {
  transition: background-color 1s;
}

footer {
  text-align: center;
  color: white;
  margin: 10px;
  font-style: italic;
  font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", serif;
}
